* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mutliStep {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  background-color: rgba(0, 0, 255, 0.473);
}
.mutliStepContainer {
  width: 500px;
  height: 400px;
  background-color: whitesmoke;
  padding: 20px 40px;
}
.mutliStepFormPages {
  display: flex;
  justify-content: space-around;
  width: 100%;
  justify-content: space-around;
}
.page {
  background-color: blue;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: whitesmoke;
}
.mutliStepForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}
